page-home {
    .swiper-pagination-bullet-active {
        background: rgb(0, 0, 0);
    }

    .bg-image {
        background-image: url('../assets/imgs/1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-content: center;
        vertical-align: bottom;
    }

    .bg-image1 {
        background-image: url('../assets/imgs/2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-image2 {
        background-image: url('../assets/imgs/3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .box {
        background: #fff;
        opacity: 0.8;
        border-radius: 0px;
        padding: 20px 20px 20px 20px;
        margin-top: 30px;
      }

    .padding {
        padding-bottom: 50px;
    }
}
