page-add {
p i{
    color:rgb(255, 255, 255);
}

p b{
    color:rgb(255, 0, 0);
}

#movie {
    visibility:hidden;
}
#search{
    width:200px;
    height:35px;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #f80002;
    color:black;
    padding-left:3px; 
}
}
